@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/variables.scss';

.main_home_box {
  height: auto;
  width: 100%;
  padding: 50px 100px;
  @include flexBox(nowrap, column, space-around, center);
  .header {
    color: $font_primary_color;
    font-size: 2.4rem;
    margin-bottom: 50px;
  }
  .main_slide_box {
    border: 1px solid;
    height: 300px;
    width: 100%;
    font-size: 1.5rem;
    @include flexBox(nowrap, column, center, center);
  }
}
