@import "../../assets/sass/mixins.scss";
@import "../../assets/sass/variables.scss";

.container {
  // border: solid;
  width: 100%;
  padding: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  .flip_box {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    gap: 20px;

    .flip_card {
      background-color: transparent;
      width: 260px;
      height: 200px;
      perspective: 1000px;
      &:hover .flip_card_inner {
        transform: rotateY(180deg);
      }

      .flip_card_inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        .flip_card_front,
        .flip_card_back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        .flip_card_front {
          background-color: #bbb;
          color: black;
          border-radius: 10px !important;
          .image {
            width: 260px;
            height: 200px;
            border-radius: 10px !important;
          }
        }

        .flip_card_back {
          font-size: 1.5rem;
          background-color: #0b2f9f;
          transform: rotateY(180deg);
          display: flex;
          align-items: center;
          justify-content: center;
          color: $font_primary_color;
          border-radius: 10px !important;
          .btn {
            color: white;
            &:hover {
              color: rgb(192, 192, 236);
            }
          }
        }
      }
    }
  }
}
