@mixin flexBox($flexWrap, $flexDirection, $justifyCotent, $alignItems) {
  display: flex;
  flex-wrap: $flexWrap;
  flex-direction: $flexDirection;
  justify-content: $justifyCotent;
  align-items: $alignItems;
}
